# ASSIGNMENT@1

answer 1 =  * , -87.8 , 6 , = values 
           
           + , - , / ,  = expressions (mathematical operators)

answer 2 = string is character that is written inside sinle or double code. example = 'saurabh' is a string 
  
           variables are characters in different format such as integer , float etc.

answer 3 = three different types of data types are
           
           1) numeric  as 1,2 etc.
           2) sequence as string , list , tumples etc.
           3) boolean  as true or false

answer 4 = expressions are made up of operators and variables and numeric type.
         
           expression involes information .

answer 5 = expressions contains values and mathematical operators whereas statement is a command that is executed through interpreter.

answer 6 =

In [15]:
bacon = 22

In [16]:
bacon

22

In [17]:
bacon+1

23

answer 7 =

In [18]:
a = 'spam' + 'spamspam'

In [19]:
a

'spamspamspam'

In [20]:
'spam'*3

'spamspamspam'

answer 8 = because variables not start from number .

answer 9 = int()
         
           float()
            
            str()

answer 10 =  this expression causes error because it contains numeric value 99 as an integer while others are in string forms . 

             to execute this expression we should have to convert 99 to string form  as executed below .

In [29]:
a = 'i have eaten' + '99' + 'burritos'

In [30]:
a

'i have eaten99burritos'